<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

    }

    .header {
        width: 100%;
        height: 50px;
        background-color: #B34D4B;
        text-align: center;
    }

    .img {
        margin-top:50px;
        position: relative;
        width: 500px;
    }

</style>

<div class="header">
  <h1>Tattoo</h1>
</div>

<div class='message-content'>
    <p>Olá, <strong>{{name}}</strong></p>
    <p>Parece que uma troca de senha para sua conta foi solicitada</p>
    <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
    <p>
        <a href="{{link}}">Resetar minha senha</a>
    </p>
    <p>Se não foi você, então descarte esse email</p>
    <p>
        Obrigado! <br/>
        <strong>Equipe Tattoo</strong>
    </p>
    <img class="img" src="https://http2.mlstatic.com/D_NQ_NP_787144-MLB28968757804_122018-O.webp" alt="">
</div>
