<style>
     *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        width: 100vw;
        height: 100vh;
        background-color: #201E1E;
        color: #fff;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;

    }

    header{
        width: 100%;
        height: 50px;
        background-color: #B34D4B;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-top:50px;
        position: relative;
        width: 500px;
    }
</style>

<body>
    <header>
        Tattoo
    </header>
    <div>
        <p>Ola, <strong>{{name}}</strong> </p>
        <p>você possui um novo agendamento na data: {{date}} </p>
        <p>anote em sua agenda para não ser pego de surpresa!!</p>
        <img src="https://http2.mlstatic.com/D_NQ_NP_787144-MLB28968757804_122018-O.webp" alt="">
    </div>

</body>
